body{    
    margin: 0px;
    background-image: url("1024.jpg");
    background-color:black;
    height:500px;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}

 img{
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

.myform{
    margin-left: 500px;
    background-color: darkkhaki;
    width:27%;
    height:268px;
    text-align: center;
    padding: 45px;
    border-radius: 30px;
    
    
}
input{
    padding: 5px;
}

textarea{
    padding: 50px;
}